Azure IoT/example_flow.json
[{"id":"9c31db59.d04cb8","type":"iothub","__package":"luvitred/services","__version":"0.1.0","sas":"put your connection string here","retryTime":10,"keepalive":60,"acktimeout":20,"protolog":false,"name":"","__users":["959dac7d.1dbaa","bee0fade.f2a4c8"]},{"id":"959dac7d.1dbaa","type":"iothub in","__package":"luvitred/services","__version":"0.1.0","name":"","topic":"","iotdevice":"9c31db59.d04cb8","x":262.5,"y":275,"z":"4425fcbd.a60414","wires":[["df35c0f3.06f91"]]},{"id":"bee0fade.f2a4c8","type":"iothub out","__package":"luvitred/services","__version":"0.1.0","name":"","queueenabled":false,"queue":"_ADD_","iotdevice":"9c31db59.d04cb8","x":462.5,"y":175,"z":"4425fcbd.a60414","wires":[]},{"id":"18a67e68.9dd422","type":"inject","__package":"luvitred/core-core","__version":"0.1.0","name":"","key":"payload","topic":"","payload":"Hello","payloadType":"string","fromval":0,"toval":10,"repeat":"","crontab":"","once":false,"x":275,"y":175,"z":"4425fcbd.a60414","wires":[["bee0fade.f2a4c8"]]},{"id":"df35c0f3.06f91","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"","active":true,"highlight":"none","console":"false","complete":"false","x":450,"y":275,"z":"4425fcbd.a60414","wires":[]}]
